ion-icon {
  font-size: 24px;
  color: #ffffff;
}

ion-header {
  background: #80ddd9;
    background: linear-gradient(177deg,rgb(54, 54, 54) 0%, rgba(26, 26, 26, 1) 100%);
}


ion-tab-bar {
  background: #80ddd9;
  background: linear-gradient(177deg,rgb(54, 54, 54) 0%, rgba(26, 26, 26, 1) 100%);
  --ion-tab-bar-background: transparent; 
  border-top-left-radius: 20px;
  border-top-right-radius: 20px; 
  padding: 10px; 
}

.perfil-card{
  margin: 0;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.avatar-container {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.avatar-icon {
  width: 80px;
  height: 80px;
}

.reportes{
    background: #80ddd9;
    background: linear-gradient(177deg,rgb(116, 111, 111) 0%, rgb(109, 109, 109) 100%);
  color: #ffffff;
  border-radius: 10px;
  --background: none;
} 