<ion-content>
  <router-outlet></router-outlet>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/home">
      <ion-icon name="home-outline" style="font-size: 30px;"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
    
    <ion-tab-button routerLink="/comentario">
      <ion-icon name="chatbox-ellipses-outline" style="font-size: 30px;"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
  
    <ion-tab-button routerLink="/perfil">
      <ion-icon name="person-outline" style="font-size: 30px;"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>
