ion-tab-bar {
    background-color: #f8f8f8;
    height: 37px;
    padding: 5px;
  }
  
  ion-icon {
    font-size: 35px;
    color: #54adaa;
  }
  
  
  ion-tab-bar {
    background: #80ddd9;
    background: linear-gradient(177deg,rgb(54, 54, 54) 0%, rgba(26, 26, 26, 1) 100%);
      --ion-tab-bar-background: transparent; 
    padding: 10px; 
  }