ion-tab-bar {
    background-color: #f8f8f8;
    height: 37px;
    padding: 5px;
  }
  
  ion-icon {
    font-size: 30px;
    color: #ffffff;
  }
  
  
  ion-tab-bar {
    background: #889cff;
    background: linear-gradient(308deg, rgba(63, 94, 251, 1) 0%, rgb(255, 139, 162) 100%);  
      --ion-tab-bar-background: transparent; 
    padding: 10px; 
  }